// @import 'reset';
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Lobster&family=Montserrat+Subrayada&family=Montserrat:wght@300;400&family=Playfair+Display:ital,wght@0,400;1,500&display=swap');

//variables
@mixin sectionDtl{
  height: 100vh;
  margin: 0 auto;
  width: 100vw;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-end;

}

:root{
  --primary: #fff4fb;
  --primary--light: #ffffff;
  --secondary: #8d8c8b;
  --secondary--lighter: #e9e5e2;
  --txt--color: #c84861;


  --container-width-lg: 75%;
  --container-width-md: 85%;
  --container-width-sm: 90%;
}
::-webkit-scrollbar{
  display: none;
}

// Animations
  // header anim
  @keyframes slide-right {
    0% {
              width: 95%;
              opacity: 1;
    }
    100% {
              width: 0;
              opacity: 0;
    }
  }
  @keyframes slide-left {
    0% {
      width: 0;
      opacity: 0;
    }
    100% {
      width: 95%;
      opacity: 1;
    }
  }

  //fade burger menu
  @keyframes fade-in{
    0% {
      opacity: 0;
      transform: translateY(-20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  // fade icon burger menu
  @keyframes fade-out {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--primary--light);
  font-family: 'Montserrat', 'Playfair Display', Helvetica, sans-serif;
}
html{
  overflow-y: scroll;
  overscroll-behavior-y: contain;
  scroll-snap-type: y mandatory;
  -ms-overflow-style: none;
  scroll-behavior: smooth;
  height: 100vh;
  width: 100%;

  &::-webkit-scrollbar {
    display: none;
  }
}

h3{
  margin-bottom: 1rem;
  height: 10%;
  max-height: 10vh;
  margin-top: 0;
}
.special{
  font-family: 'Lobster';
  font-size: calc( 1em + 2vmin );
  font-weight: 900;
  color: rgb(200, 72, 97);
  --x-offset: -0.0625em;
  --y-offset: 0.0625em;
  --stroke: 0.025em;
  --background-color: white;
  --stroke-color: lightblue;

  text-shadow: 
    var(--x-offset)
    var(--y-offset)
    0px
    var(--background-color), 
    calc( var(--x-offset) - var(--stroke) )
    calc( var(--y-offset) + var(--stroke) )
    0px
    var(--stroke-color);

    @supports ( text-shadow: 1px 1px 1px 1px black ) {
      h3 {
        text-shadow:
          
          var(--x-offset)
          var(--y-offset)
          0px
          0px
          var(--background-color), 
          
          var(--x-offset) 
          var(--y-offset)
          var(--stroke)
          0px
          var(--stroke-color);
        
      }
    }
}

.container{
  width: var(--container-width-lg);
  margin: 0 auto;
}

.container__section{
  width: 100%;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.navSection{
  transition: all 0.75s ease;
  height: 30%;
  max-height: 100px;
  width: 100%;
}
.container__section__dtl{
  transition: all 0.75s ease;
  height: 80%;
  max-height: 80vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#noNavSection{
  height: 0px;
  transition: all 0.75s ease;
}
#newContainerSectionDtl{
  width: 100%;
  transition: all 0.75s ease;
  height: 100%;
  min-height: 80vh;
}


.App > section , #home{
  scroll-snap-align: start;
  height: 100vh;
  width: 100%;
  position: relative;
}

a{
  text-decoration: none;
}
ul{
  list-style-type: none;
}
li > a{
  position: relative;
  font-family: 'Montserrat',Helvetica, sans-serif;  ;
  color: var(--txt--color);
  font-size: 1.1rem;
  text-decoration: none;
  padding-bottom: 3px;
  &::after{
    content : "";
    position : absolute;
    width : 100%;
    height : 2px;
    background-color: var(--txt--color);
    bottom: 0;
    left: 0;
    transform : scaleX(0);
    transform-origin: bottom right;
    transition : transform 0.25s linear;
  }
  &:hover::after{
    transform-origin: bottom left;
    transform: scaleX(1);
  }
}



.btn {
  width: max-content;
  display: inline-block;
  color: var(--primary);
  font-weight: bold;
  padding: 0.74rem 1.2rem;
  border-radius: 0.4rem;
  cursor: pointer;
  border: 2px solid var(--primary);
  transition: var(--transition);
  text-decoration: none;
  &:hover{
    background: #ee234cfd;
    color: var(--primary--light);
    border-color: var(--primary--light);
  }

  &--primary{
    background-color: var(--txt--color);
    color: var(--primary);
  }
}

//MEDIA QUERIES (Medium DEVICES)
@media screen and (max-width: 799px){
  .contact__section{
    height: 100%;
  }
  .container__section__dtl{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    position: relative;

    height: 100%;
    min-height: 80vh;

    // h3{
    //   height: 20%;
    //   justify-content: center;
    //   align-items: center;
    //   position: fixed;
    //   top: 60px;
    // }
  }

  .container__section{
    .navSection {
      height: 0px;
    }
  }



}

@media screen and (max-width: 599px){
  .App > section , #home{
    scroll-snap-align:initial;
  }
}
