@import '../../styles/index.scss';

#newContainerSectionDtl {
  min-height: 90vh;
}
#about{
  @include sectionDtl;
  justify-content: center;
  max-height: 100%;
  margin: 1rem auto;
}
.container__section{
  height: 100vh;
}
.about{
// min-height: 100vh;
background-position: center;
background-repeat: no-repeat;
background-size: cover;

.about__descr{
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
  height: 80%;
  min-height: 70vh;

  .about__container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 3rem;
    height: 100%;
    min-height: 55vh;
    background-color: var(--primary--light);
    opacity: 0.7;
    margin: 0 auto;
    width: 100%;
    padding: 2rem 0;

    p{
      font-family: "Montserrat", sans-serif;
      font-size: 1rem;
      color: black;
      font-weight: bold;
      width: 80%;
      align-self: center;
      overflow: hidden;
    }

  }

  .contact__btn{
    padding: 20px;
    height: 20%;
  }
}
  
}
@media screen and (max-width: 1185px){
  .about .about__descr .about__container p{
    font-size: 0.8em;
  }
 }
//MEDIA QUERIES (SMALL DEVICES)
@media screen and (max-width: 830px){
#about{
  #opacity{
    opacity: initial;
  }
  .about__descr .about__container p{
    font-size: 0.7em;
  }
} 

}
@media screen and (max-width: 570px){
  #about .about__descr .about__container p{
    font-size: 0.6em;
  }
}
// au mobile faire en sorte que la div prenne toute la palce car pas d'ouverture de la nav
//MEDIA QUERIES (SMALL DEVICES)
@media screen and (max-width: 440px){
  #about .about__descr .about__container {
    height: 100%;

    p {
      height: 100%;
      font-size: 0.5em;
    }
  }
 }